@import "_variables";

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
li :hover{
        opacity: 30%;
    }

footer{
    display: flex;
    justify-content: center;   
    margin: 25px !important; 
    a{
        margin-left: 10px;
    }
}
.boxnoticias{
    background-color: #000000;
    border: 8px solid #FFFFFF;
    border-radius: 40px;
    width: 100%;
    padding: 15px;   
    color: $colorprincipal;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    margin: 20px;
}
a{
    text-decoration: none;
}
.publicidad{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 10px; 
}
.fotopubli {
    width: 400px;
}

@media (min-width: 492px) {
    body{
        background-color: black;
        }
        .carousel-inner{
            margin-left: 280px; 
            margin-top: 50px;
        }
        .logo {
            width: 350px;
            margin-right: 150px;
          }
    }
.nav-link{
    color: $colorprincipal !important;  
    text-transform: uppercase;
    text-shadow: 0px 0px 4px #fff;
    letter-spacing: 2px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 148, 89, 58.1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar-light .navbar-toggler {
    border: 3px solid #127605;
  }

  .nav-item {
    font-size: map-get($fuente, size );
    font-style: map-get($fuente, inherit );
}

form {
    @extend .boxnoticias;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
}
.logo {
    width: 150px;
}
.carousel-item {
    width: auto;
    margin-left: 190px;
}
.bg-color {
    background-color: #2222227c;
}
h1 {
    color: green;
    display: flex;
    justify-content: center;
    font-family: monospace;
}   
h2 {
    font-size: 50px;
    color: #127605;
    margin: 20px;
    display: flex;
    justify-content: center;
}